# Prerequisites
*.d
.depend

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
core/kernel/kernel
core/process_server/process_server
core/service_manager/service_manager
core/vfs_server/vfs_server
core/debug_console/debug_console
core/initrd_fs/initrd_fs
jax/jax

initrd
initrd.jax

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.gdb
