[submodule "tiny-mac-bootloader"]
	path = tiny-mac-bootloader
	url = https://github.com/notvelleda/tiny-mac-bootloader.git
[submodule "kernel/printf"]
	path = core/printf
	url = https://github.com/mpaland/printf.git
[submodule "test/unity"]
	path = test/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "test/fff"]
	path = test/fff
	url = https://github.com/meekrosoft/fff.git
