# Prerequisites
*.d
.depend

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
kernel/kernel
process_server/process_server
service_manager/service_manager
vfs_server/vfs_server
debug_console/debug_console
initrd_jax_fs/initrd_jax_fs
jax/jax

initrd
initrd.tar

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.gdb
